<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OSeisM Leaflet</title>
    <link rel="stylesheet" href="libs/leaflet.css"/>
    <link rel="stylesheet" href="oseism.css"/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="libs/leaflet.js"></script>
    <!--<script src="https://unpkg.com/shpjs@latest/dist/shp.js"></script>-->
    <script src="libs/chroma.min.js"></script>
    <!--<script src="js/leaflet.shpfile.js"></script>-->
</head>
<body>
    <div id="mapid"></div>
    <script type="text/javascript" src="oseism.js"></script>
</body>
</html>
